



.grid-1{
    display: grid;
    grid-template-rows: 2fr 10fr;
    grid-template-columns: 70%;
    background-color: aqua;
    padding:15px;
    
}
.hijo1-grid-1{
    font-size: 33px;
    background-color: red;
    text-align: center;
    padding-top: 10px;
    
}

.hijo2-grid-1{
    background-color: yellow;
    padding-bottom: 30px;
}

.grid-2{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1;
    grid-gap: 15px;
    padding: 15px;
    background-color: blueviolet;
}

.hijo1-grid-2{
    background-color: orange;
    padding: 10px;
    
}

.grid-3{
    display: grid;
    grid-template-rows: 4fr 0.3fr 3fr 0.3fr;
    background-color: green;
    padding: 10px;  
}

.hijoGrid3{
    background-color: blue;
}
.subtext{
    font-size: smaller;
}
.frase-subtext{
    font-size: 24px;
    font-weight: 600;
}
.frase-link{
    color: #4285f4;
}
